body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: #333;
    background-color: #fafafa;
    margin: 0 auto;
    max-width: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 50px;
}

.my-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* info text */
.my-info h1 {
    margin: 0px 0px 15px 0px;
}
.subtitle {
    margin: 0px 0px 15px 0px;
    font-size: 1.2rem;
    color: #7f8c8d;
}
.location {
    margin: 0px 0px 0px 0px;
    font-size: 1rem;
    color: #95a5a6;
}


.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.profile-info {
    margin: 0;
    max-width: 100%;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    border-top: 1px;
}

@media (min-width: 768px) {

    body {
        max-width: 1000px;
    }
    
    .profile {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 60px;
    }
    
    .my-info {
        align-items: flex-start;
        text-align: left;
        flex: 1;
    }
    
    .profile-image {
        flex: 1;
    }

    .profile-info {
        margin: 0;
        flex: 1;
        max-width: 100%;
    }
}